<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
	
	RewriteCond %{HTTP_HOST} ^web2rankphil\.com$ [NC]
	RewriteRule ^(.*)$ https://www.web2rankphil.com/$1 [R=301,L]
	
	# redirectMatch 301 services/website-design-and-development https://www.web2rankphil.com/web-design-and-development/
	
</IfModule>